@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: #252525;
  justify-content: space-between;
  color: white;
  height: 50px;
  align-items: center;
  z-index: 1;
  box-shadow: -1px 5px 11px -3px cyan;
-webkit-box-shadow: -1px 5px 11px -3px cyan;
-moz-box-shadow: -1px 5px 11px -3px cyan;
}

nav .iconDensity {
  display: none;
}

nav .logo {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a202c;
  background-color: white;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border-radius: 100%;
}

nav .logo:hover {
  background-color: cyan;
}

nav ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: cyan;
}

.hero {
  height: 100vh;
  background-color: #252525;
  overflow-x: hidden;
}

.hero .page1 {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.hero div .line {
  width: 40rem;
  height: 5px;
  background-color: cyan;
}

.hero div .btnpg1 {
  width: 40rem;
}

.hero div .btnpg1 Button {
  border: 3px solid white;
  color: #fffffe;
  margin-right: 20px;
}

.hero div .btnpg1 Button a {
  color: #001e1d;
  text-decoration: none;
}

.hero div .btnpg1 Button:hover,  .hero div .btnpg1 Button a:hover{
  background-color: cyan;
  color: black;
  border: 3px solid black;
}

.page2 {
  height: auto;
  background-color: #252525;
}

.page2 .paragraf {
  padding: 20px;
  text-align: justify;
}

.line2 {
  width: 30%;
  height: 10px;
  background-color: cyan;
}

.my-24{
  color: #fffffe;
  font-size: 4rem;
}

.p-5 span {
  color: cyan;
}

.p-5 {
  color: white;
}

.page3 {
  height: 500px;
  background-color: #252525;
}

.page3 .header3 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.page3 .content {
  background-color: #004643;
  border-radius: 20px;
}

.page3 .content .flex img {
  background-size: cover;
  height: 120px;
  margin: 15px;
}

/* Responsive Breakpoint */
/* Screen Laptop */
@media screen and (max-width: 1024px) {
  nav .iconDensity {
    cursor: pointer;
    display: flex;
    margin-right: 20px;
  }

  nav .iconDensity:hover {
    color: cyan;
  }

  nav ul {
    position:absolute;
    flex-direction: column;
    background-color: #252525;
    top: 0;
    width: 100%;
    margin-top: 40px;
    height: 30vh;
    justify-content: space-around;
    z-index: -1;
    transition: all 1s;
  }

  nav ul.visible {
    transform: translateY(-120%);
  }

  /* Page 1 Start */
  .page1 h1 {
    font-size: 5rem;
  }

  .hero div .line {
    width: 80%;
  }

  .hero div .btnpg1 {
    margin-left: 25%;
  }
  /* Page 1 End */

  /* Page 2 Start */
  .page2 {
    display: inline-block;
    height: auto;
  }

  .my-24{
    font-size: 3rem;
  }

  .line2 {
    width: 40%;
    height: 10px;
    background-color: #fffffe;
  }

  .page2 .paragraf p {
    width: 100%;
    text-align: justify;
  }
  /* Page 2 End */
}

/* Screen Tablet */
@media screen and (max-width: 768px) {
  nav .iconDensity {
    cursor: pointer;
    display: flex;
    margin-right: 20px;
  }

  nav .iconDensity:hover {
    color: cyan;
  }

  nav ul {
    position:absolute;
    flex-direction: column;
    background-color: #252525;
    top: 0;
    width: 100%;
    margin-top: 40px;
    height: 30vh;
    justify-content: space-around;
    z-index: -1;
    transition: all 1s;
  }

  nav ul.visible {
    transform: translateY(-120%);
  }

  /* Page 1 Start */
  .page1 h1 {
    font-size: 5rem;
  }

  .hero div .line {
    width: 80%;
  }

  .hero div .btnpg1 {
    margin-left: 25%;
  }
  /* Page 1 End */

  /* Page 2 Start */
  .page2 {
    display: inline-block;
    height: auto;
  }

  .my-24{
    font-size: 3rem;
  }

  .line2 {
    width: 40%;
    height: 10px;
    background-color: #fffffe;
  }

  .page2 .paragraf p {
    width: 100%;
    text-align: justify;
  }
  /* Page 2 End */

  /* Page 3 Start */
  .page3 {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .page3 .content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .page3 .header3 {
    margin-top: 0;
  }

  .page3 .content .flex img {
    height: 100px;
  }
  /* Page 3 End */
}

/* Screen Mobile */
@media screen and (max-width: 576px) {
  nav .iconDensity {
    cursor: pointer;
    display: flex;
    margin-right: 20px;
  }

  nav .iconDensity:hover {
    color: cyan;
  }

  nav ul {
    position:absolute;
    flex-direction: column;
    background-color: #252525;
    top: 0;
    width: 100%;
    margin-top: 40px;
    height: 30vh;
    justify-content: space-around;
    z-index: -1;
    transition: all 1s;
  }

  nav ul.visible {
    transform: translateY(-120%);
  }

  /* Page 1 Start */
  .page1 h1 {
    margin-left: 40px;
    width: 100%;
    font-size: 3rem;
  }

  .hero div .line {
    width: 90%;
  }

  .hero div .btnpg1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .hero div .btnpg1 a {
    padding: 10px;
  }
  /* Page 1 End */

  /* Page 2 Start */
  .page2 {
    display: inline-block;
    height: auto;
  }

  .my-24{
    font-size: 3rem;
  }

  .line2 {
    width: 40%;
    height: 10px;
    background-color: #fffffe;
  }

  .page2 .paragraf p {
    width: 100%;
    text-align: justify;
  }
  /* Page 2 End */

  /* page 3 Start */
  .page3 {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .page3 .content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .page3 .header3 {
    margin-top: 0;
  }
  /* Page 3 End */
}